@page "/learnrouting"
@* @page "/learnrouting/{Param1}/{Param2}"
@page "/learnrouting/{Param1}" *@
@page "/learnBlazor/learnrouting"
@page "/learnrouting/catch-all/{*PageParameters}"

@inject NavigationManager _NavigationManager

<h3>LearnRouting</h3>
<p>Param 1 : @Param1</p>
<p>Param 2 : @Param2</p>
<p>Page Parameters : @PageParameters</p>

@* <a href="learnrouting?Param1=Learn&Param2=Blazor" class="btn btn-primary">Navigate to query parameter</a> *@
 <button @onclick="NavigateToQueryParams" class="btn btn-primary">Navigate to query parameter</button>

<button class="btn btn-success" @onclick="LoadParameters">Load Parameters</button>
<div class="bg-info" style="height:1000px;">
</div>
<h2 id="targetElement">Main Title</h2>

@code {
    // [Parameter]
        [SupplyParameterFromQuery]
    public string Param1 { get; set; }

    // [Parameter]
    [SupplyParameterFromQuery]
    public string Param2 { get; set; } = "";

    [Parameter]
    public string PageParameters { get; set; } = "";

    public void LoadParameters()
    {
        var uri = new Uri(_NavigationManager.Uri);

        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        Param1 = query["Param1"];
        Param2 = query["Param2"];

       // _NavigationManager.Refresh(forceReload: true);
    }

    private void NavigateToQueryParams()
    {
        _NavigationManager.NavigateTo("learnrouting?Param1=Learn&Param2=Blazor");
    }

}
